footer {
    position: relative;
    bottom: 0;
    background-color: #252F3D;
    color: #fff;
    width: 100%;
    height: 88px;
    font-size: 12px;
    

    ul {
        list-style-type: none;
        margin: 24px;
        padding: 24px;
        
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .one {
                margin-left: 20px;
            }

            .two {
                margin-right: 80px;

                img {
                    margin-right: 10px;
                }
            }
        }
    }
}

@media (max-width: 844px) {
    footer {
      position: relative;
      bottom: 0;
    //   background-color: red;
      height: auto;
      width: auto;
      z-index: 1; /* Make sure the footer stays on top of any other elements */
      min-height: auto;
    }
  
    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      .one {
        display: flex;
        width: 301px;
        margin: 20px 29px 16px 29px;
      }
    }
  }
  